.StatusContainer {
  display: flex;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 0;

  height: 20px;
  width: calc(100% - 20px);
  max-height: 20px;
  font-size: small;

  text-align: left;
}

.infoItem {
  flex: 0.75;
  min-width: 110px; 
}

.modified {
  flex: 10;
  text-align: right
}