.AboutDialog {
}

.dialogPanel {
  font-size: smaller;
  width: 700px;
  margin: 100px auto;
  border: 1px solid whitesmoke;
  text-align: center;
  position: absolute;
  border: 1px solid red;
  width: 600px;
  top: 10px;
  left: calc(50vw - 350px);
  z-index: 100;
  padding: 20px;
}

.textBox {
  height: 350px;
  font-size: small;
  text-align: left;
}
